body{
  text-align: center;
}
.info{
  text-align: left;
  width:60%;
  max-width: 600px;
  margin: auto;
}
#error{
  color:red;
  font-weight: bold;
  text-align: left;
}
#file-select-input{
  display:none;
}
.file-select-button{
  margin:2em 0;
}
.file-select label{
  font-weight: bold;
	text-align: center;
	padding: 1em;
	margin: 1em 0;
	color: #333;
  background-color: #28AFFA;
	border: 1px solid #207AAC;
	border-radius: 7px;
  box-shadow: 0px 1px 2px #888888;
  cursor: pointer;
}
.file-select label:hover{
  background-color: #82CEF8;
}

#filedrag
{
	display: none;
	font-weight: bold;
  font-size: 105%;
	text-align: center;
	padding: 1.5em 0;
	margin: 1em auto;
	color: #555;
	border: 2px dashed #555;
	border-radius: 4px;
	cursor: default;
  width: 80%;
}

#filedrag.hover
{
	color: #28AFFA;
	border-color: #28AFFA;
	border-style: solid;
	box-shadow: inset 0 3px 4px #888;
}
.image-div{
  max-width: 60%;
  min-width: 480px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5em;
  clear: both;
}
.image-div > img{
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.image-details{
  width:100%;
  margin-left: auto;
  margin-right: auto;
}
.color-block-container.primary{
  clear:both;
  float:none;
  width:66.6%;
  padding-bottom: 2em;
}
.color-block-container.primary p{
  float: left;
  padding:1em 0 0 3em;
  vertical-align: middle;
  font-weight: bold;
}
.color-block-container{
  width:33.3%;
  float:left;
  min-width:10em;
}
.color-block{
  width:7em;
  height:3em;
  line-height: 3em;
  margin:1em auto;
  border-radius: 4px;
  font-weight: bold;
  display: inline-block;
}
.color-block.dark{
  color:#eee;
}
.color-block-inner > button{
  padding-left: 0.5em;
}
.color-background-gradient{
  text-align: left;
  line-height: 1.5em;
  text-indent: -2em;
  padding-left: 4em;
  color:#fff;
  text-shadow: 0px 0px 2px #000;
  font-weight: bold;
}

.color-background-gradient button{
  float: right;
  position: relative;
  right: -1.5em;
  top: 0.5em;
}

button {
	margin: 0;
	padding: 0;
	border: 0;
	background: none;
	font-size: 100%;
	vertical-align: baseline;
	-webkit-appearance: none;
	appearance: none;
	cursor: pointer;
}
